<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Poids de Lune !</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="grid-container">
			<div class="grid-item header"><h1>Calcule ton Poids de Lune</h1></div>
			<div class="grid-item menu">
				<div class="menu-item" data-body="mercury">
					<div class="noselect">Mercure</div>
				</div>
				<div class="menu-item" data-body="venus">
					<div class="noselect">Vénus</div>
				</div>
				<div class="menu-item" data-body="moon">
					<div class="noselect">Lune</div>
				</div>
				<!-- <div class="menu-item" data-body="earth">
					<div class="noselect">Terre</div>
				</div> -->
				<div class="menu-item" data-body="mars">
					<div class="noselect">Mars</div>
				</div>
				<div class="menu-item" data-body="jupiter">
					<div class="noselect">Jupiter</div>
				</div>
				<div class="menu-item" data-body="saturn">
					<div class="noselect">Saturne</div>
				</div>
				<div class="menu-item" data-body="uranus">
					<div class="noselect">Uranus</div>
				</div>
				<div class="menu-item" data-body="neptun">
					<div class="noselect">Neptune</div>
				</div>
				<div class="menu-item" data-body="pluto">
					<div class="noselect">Pluton</div>
				</div>
			</div>
			<div class="grid-item main">
				<form name="engine">
					<input type="text" name="source" />
					<input type="text" name="target" />
				</form>
			</div>
			<div class="grid-item footer">Coded with ❤️ in Paris</div>
		</div>
		<script src="js/engine.js"></script>
	</body>
</html>
