<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Poids de Lune !</title>
		 <link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="grid-container">
			<div class="grid-item header">Calcule ton Poids de Lune</div>
			<div class="grid-item menu">
				<div class="menu-item">
					<img src="images/Moon.svg">
					<div>Lune</div>
				</div>
				<div class="menu-item">
					<img src="images/Saturn.svg">
					<div>Saturne</div>
				</div>
				<div class="menu-item">
					<img src="images/Venus.svg">
					<div>Vénus</div>
				</div>
				<div class="menu-item">Mercure</div>
				<div class="menu-item">Mars</div>
				<div class="menu-item">Jupiter</div>
				<div class="menu-item">Uranus</div>
				<div class="menu-item">Neptune</div>
				<div class="menu-item">Pluton</div>
			</div>
			<div class="grid-item main">2</div>
			<div class="grid-item footer">Footer</div>
		</div>
	</body>
</html>
