<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Poids de Lune !</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="grid-container">
			<div class="grid-item header">Calcule ton Poids de Lune</div>
			<div class="grid-item menu">
				<div class="menu-item" data-body="moon">Lune</div>
				<div class="menu-item" data-body="saturn">Saturne</div>
				<div class="menu-item" data-body="venus">Vénus</div>
				<div class="menu-item" data-body="mercury">Mercure</div>
				<div class="menu-item" data-body="mars">Mars</div>
				<div class="menu-item" data-body="jupiter">Jupiter</div>
				<div class="menu-item" data-body="uranus">Uranus</div>
				<div class="menu-item" data-body="neptun">Neptune</div>
				<div class="menu-item" data-body="pluto">Pluton</div>
			</div>
			<div class="grid-item main">
				<form name="engine">
					<input type="text" name="source" />
					<input type="text" name="target" />
				</form>
				 <button type="submit" form="engine" name="mouuuuuu">Submit</button>
			</div>
			<div class="grid-item footer">Footer</div>
		</div>
		<script src="js/engine.js"></script>
	</body>
</html>
