body
{
	background: linear-gradient(to right, rgb(72,149,165), rgb(59,110,127), rgb(45,66,83));
}

 .accroche
{
	font-style:bold ; color:#FFFFFD; text-align: center; line-height: center; font-size: 50px;
}

.vertical-menu {
	width: 200px;
	margin-left: 0px;
}

.vertical-menu a {
	background-color: #2D3E50;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover {
	background-color: #439D9B;
}

.vertical-menu a.active {
	background-color: #439D9B;
	color: white;
}

.logo {
	float:right; margin:0 0px 0 0px;
}

.vertical-menu
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}