.grid-container {
  display: grid;
  //border: 1px dashed white;
  grid-gap: 5px;
}

.grid-item {
  display: grid;
  border: 1px solid white;
  height:30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item6 {
  grid-column-start: 2;
  grid-column-end: 4;
}